<!-- <ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header> -->


<ion-content>
  <ion-row>
    <ion-col size="1">
    </ion-col>
    <ion-col size="2">
      <ion-text color="danger">
        <h2>Aulyboy</h2>
      </ion-text>
    </ion-col>
    <ion-col size="9">
    </ion-col>
  </ion-row>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <ion-row>
    <ion-col size="4">
    </ion-col>
    <ion-col size="5">
      <ion-text color="light" class="ion-text-center" >
        <h1>Manage Profiles:</h1>
      </ion-text>
    </ion-col>
    <ion-col size="3">
    </ion-col>

  </ion-row>

  <ion-row>
    <ion-col size="4">
    </ion-col>
    <ion-col size="1" (click)="zz()">
      <ion-thumbnail class="img-size">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT_j2JyF2LA0pLXHznhU0TtwPeDVnXvS5pVbfhQ-v-NNzXh_EIE&usqp=CAU">
      </ion-thumbnail>
    </ion-col>
    <ion-col size="1" (click)="zz()">
      <ion-thumbnail class="img-size">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRlni4JwyEobjVdSxC-YVEw1OqG_6pu5lyK8GyJYVB_FTrufJs5&usqp=CAU">
      </ion-thumbnail>
    </ion-col>
    <ion-col size="1" (click)="zz()">
      <ion-thumbnail class="img-size">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTv3L93P5b7vtm68nTza7lrsYawguHDNQSr_jaLWsAmsDTAYBfp&usqp=CAU">
      </ion-thumbnail>
    </ion-col>
    <ion-col size="1" (click)="zz()">
      <ion-thumbnail class="img-size">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ_ob0dzHcxfQlRwboKKCc-z96Z36FLdVnqPacgokZBGucHD_0I&usqp=CAU">
      </ion-thumbnail>
    </ion-col>
    <ion-col size="1" (click)="zz()">
      <ion-thumbnail class="img-size">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSKpBr-YplwXsqnkBuirDyh3I2dBxtu-O0UQO8eLNttjk_v46lD&usqp=CAU">
      </ion-thumbnail>
    </ion-col>

    <ion-col size="3">
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="4">
    </ion-col>
    <ion-col size="1" class="ion-text-center">
      <ion-text color="light" (click)="zz()">
        <h6>ออ</h6>
      </ion-text>
    </ion-col>
    <ion-col size="1" class="ion-text-center">
      <ion-text color="light" (click)="zz()">
        <h6>เต</h6>
      </ion-text>
    </ion-col>
    <ion-col size="1" class="ion-text-center">
      <ion-text color="light" (click)="zz()">
        <h6>อู</h6>
      </ion-text>
    </ion-col>
    <ion-col size="1" class="ion-text-center">
      <ion-text color="light" (click)="zz()">
        <h6>ปุ๋ย</h6>
      </ion-text>
    </ion-col>
    <ion-col size="1" class="ion-text-center">
      <ion-text color="light" (click)="zz()">
        <h6>ควอตส์&ควินท์</h6>
      </ion-text>
    </ion-col>
    <ion-col size="3">
    </ion-col>
  </ion-row>

  <br>
  <br>

  <ion-row>
    <ion-col size="6">
    </ion-col>
    <ion-col size="6">
    <ion-button  color="light" class="button"  class="ion-text-center">
      Done
    </ion-button>
  </ion-col>

  </ion-row>
</ion-content>