<ion-content>
  <ion-row>
    <ion-col size="0.5">
    </ion-col>
    <ion-col size="2">
      <ion-text color="danger">
        <h2>Aulyboy</h2>
      </ion-text>
    </ion-col>
    <ion-col size="7">
      <ion-searchbar></ion-searchbar>
    </ion-col>
    <ion-col size="1">
      <h2>
        <ion-label color="light" (click)="yy()">ค้นหา</ion-label>
      </h2>
    </ion-col>
    <ion-col size="1">
      <h2>
        <ion-label color="light" (click)="zz()">Profile</ion-label>
      </h2>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="0.3"></ion-col>

    <ion-col size="1.9">
      <ion-thumbnail class="img-size">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRY9bMq4kHtIcAO8iHZVB_jXQlLI2QqSKUL7eyrg806X6Qd4Y5z&usqp=CAU">
      </ion-thumbnail>

    </ion-col>
    <ion-col size="1.9">
      <ion-thumbnail class="img-size">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSx0NiCFzDWvKdi-01dsGWa4s59qzkCrB-majX6OTKiZ6lBHQ1S&usqp=CAU">
      </ion-thumbnail>

    </ion-col>
    <ion-col size="1.9">
      <ion-thumbnail class="img-size">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTLmwSH9kvLxcIKN2RrZSGSevrh8lV6NKadMfGkEOBijMnCzG5n&usqp=CAU">
      </ion-thumbnail>

    </ion-col>
    <ion-col size="1.9">
      <ion-thumbnail class="img-size">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTg8MzzmAomYQvdeUtaPJAI07SQce3ZWL4V7c5YNzTvZQkozKZG&usqp=CAU">
      </ion-thumbnail>

    </ion-col>
    <ion-col size="1.9">
      <ion-thumbnail class="img-size">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQIhnQhtZStzLJ0ZXjduZr99j-kOsmnRYlkh3TfrMaO677vKNPb&usqp=CAU">
      </ion-thumbnail>

    </ion-col>
    <ion-col size="1.9">
      <ion-thumbnail class="img-size">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQOWk4oFbAc18206aLh3GSnbFDN2SUnXPzhu7FIJzqio-J67gtd&usqp=CAU">
      </ion-thumbnail>
    </ion-col>
    <ion-col size="0.5"></ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="2" class="ion-text-center">
      <ion-text color="light">
        ไซตามะ
      </ion-text>
    </ion-col>
    <ion-col size="2" class="ion-text-center">
      <ion-text color="light">
        โดเรม่อน
      </ion-text>
    </ion-col>
    <ion-col size="2" class="ion-text-center">
      <ion-text color="light">
        เทพมรณะ
      </ion-text>
    </ion-col>
    <ion-col size="2" class="ion-text-center">
      <ion-text color="light">
        จูแมนจี้
      </ion-text>
    </ion-col>
    <ion-col size="1.8" class="ion-text-center">
      <ion-text color="light">
        ด๋อยเผือก
      </ion-text>
    </ion-col>
    <ion-col size="1.8" class="ion-text-center">
      <ion-text color="light">
        สามหน่อ
      </ion-text>
    </ion-col>
  </ion-row>

</ion-content>