<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="mainmenu"></ion-back-button>
    </ion-buttons>
    <ion-title>uistandard</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-row>
    <ion-col size="1">
    </ion-col>
    <ion-col size="2">
      <ion-text color="danger">
        <h2>Aulyboy</h2>
      </ion-text>
    </ion-col>
    <ion-col size="7">
      <ion-toolbar>
        <ion-searchbar></ion-searchbar>
      </ion-toolbar>
    </ion-col>
    <ion-col size="1">
      <h2>
        <ion-label color="light" (click)="yy()">ค้นหา</ion-label>
      </h2>
    </ion-col>
    <ion-col size="1">
      <h2>
        <ion-label color="light" (click)="zz()">Profile</ion-label>
      </h2>
    </ion-col>
  </ion-row>
  <a href="http://www.google.com">Go!!!!!</a>

  <ion-row>

    <ion-col size="2">
      <ion-item>
        <ion-thumbnail slot="start">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRY9bMq4kHtIcAO8iHZVB_jXQlLI2QqSKUL7eyrg806X6Qd4Y5z&usqp=CAU">
        </ion-thumbnail>
        <ion-label>
          <h5>เรื่อง</h5>
          <h6>ไซตามะ</h6>
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="2">
      <ion-item>
        <ion-thumbnail slot="start">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSx0NiCFzDWvKdi-01dsGWa4s59qzkCrB-majX6OTKiZ6lBHQ1S&usqp=CAU">
        </ion-thumbnail>
        <ion-label>
          <h5>เรื่อง</h5>
          <h6>โดเรม่อน</h6>
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="2">
      <ion-item>
        <ion-thumbnail slot="start">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTLmwSH9kvLxcIKN2RrZSGSevrh8lV6NKadMfGkEOBijMnCzG5n&usqp=CAU">
        </ion-thumbnail>
        <ion-label>
          <h5>เรื่อง</h5>
          <h6>เทพมรณะ</h6>
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="2">
      <ion-item>
        <ion-thumbnail slot="start">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTg8MzzmAomYQvdeUtaPJAI07SQce3ZWL4V7c5YNzTvZQkozKZG&usqp=CAU">
        </ion-thumbnail>
        <ion-label>
          <h5>เรื่อง</h5>
          <h5>จูแมจี้</h5>
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="2">
      <ion-item>
        <ion-thumbnail slot="start">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQIhnQhtZStzLJ0ZXjduZr99j-kOsmnRYlkh3TfrMaO677vKNPb&usqp=CAU">
        </ion-thumbnail>
        <ion-label>
          <h5>เรื่อง</h5>
          <h5>ด๋อยเผือก</h5>
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="2">
      <ion-item>
        <ion-thumbnail slot="start">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQOWk4oFbAc18206aLh3GSnbFDN2SUnXPzhu7FIJzqio-J67gtd&usqp=CAU">
        </ion-thumbnail>
        <ion-label>
          <h5>เรื่อง</h5>
          <h5>สามหน่อ</h5>
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="2" class="ion-text-center">
      <ion-text color="danger">
        5555555555
      </ion-text>
    </ion-col>
    <ion-col size="2" class="ion-text-center">
      <ion-text color="danger">
        5555555555
      </ion-text>
    </ion-col>
    <ion-col size="2" class="ion-text-center">
      <ion-text color="danger">
        5555555555
      </ion-text>
    </ion-col>
    <ion-col size="2" class="ion-text-center">
      <ion-text color="danger">
        5555555555
      </ion-text>
    </ion-col>
    <ion-col size="2" class="ion-text-center">
      <ion-text color="danger">
        5555555555
      </ion-text>
    </ion-col>
    <ion-col size="2" class="ion-text-center">
      <ion-text color="danger">
        5555555555
      </ion-text>
    </ion-col>
  </ion-row>

</ion-content>