<ion-content>

  <ion-row class="head">
    <div class="aulyboy">
      <ion-text color="danger">
        <h2>Aulyboy</h2>
      </ion-text>
    </div>
    <ion-col size="3"></ion-col>
    <ion-col size="7">
      <ion-searchbar></ion-searchbar>
    </ion-col>
    <ion-col size="1">
      <h2>
        <ion-label color="light">ค้นหา</ion-label>
      </h2>
    </ion-col>
    <ion-col size="1">
      <h2>
        <ion-label color="light" (click)="editProfile()">Profile</ion-label>
      </h2>
    </ion-col>
  </ion-row>

  <div class="bigRow">
    <ion-grid>
      <ion-row>
        <ion-col ion-col size-lg="1.99" size-md="4" size-sm="6" size="12" (click)="goDetailPage()"
          *ngFor="let item of result">
          <ion-thumbnail class="img-size">
            <img src="{{ item.imageUrl }}">
          </ion-thumbnail>
          <ion-card-header>
            <ion-col class="text-size">
              <ion-text color="light" class="ion-no-padding">
                {{item.name}}
              </ion-text>
            </ion-col>
          </ion-card-header>
        </ion-col>
        <ion-col size="0.3"></ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>